* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  background-image: url("../img/header/header-background.png");
}

.main__container {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.header__container {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  padding: 0.1em;
  margin-top: 0.8em;
}

.header__text {
  margin: 0.2em 0em 0.2em 0em;
  font-family: 'big shoulders stencil display';
  font-size: clamp(18px, 2.5vw, 60px);
  line-height: 1em;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.header__subtext {
  font-family: 'raleway';
  font-size: clamp(7px, 0.8vw, 14px);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header__list {
  padding: 0.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'raleway';
  font-size: clamp(12px, 1vw, 20px);
  line-height: 1.2em;
  letter-spacing: 0.05em;
  list-style-type: none;
  color: #ffffff;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 3em;
  margin: 0.82em;
  padding: 0%;
  text-decoration: none;
  color: #ffffff;
}

.header__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s;
  transition: .5s;
  color: #D4C17F;
}

.header__intro {
  width: 70%;
  margin: 4em auto 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__title {
  margin-top: 3em;
  padding: 0.2em;
  font-family: 'Playfair Display';
  font-size: clamp(20px, 3.5vw, 64px);
  line-height: 5vw;
  text-align: center;
  color: #D4C17F;
}

.mouse {
  font-size: clamp(14px, 3vw, 14px);
  margin-top: 6em;
}

.intro__mouse {
  height: 8em;
  width: 8em;
  -webkit-filter: contrast(40%) sepia(60%) hue-rotate(2deg) brightness(2.5) saturate(200%);
          filter: contrast(40%) sepia(60%) hue-rotate(2deg) brightness(2.5) saturate(200%);
}

.intro__info {
  font-family: 'raleway';
  font-size: clamp(8px, 1vw, 18px);
  width: 90%;
  margin-top: 5.5em;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #ffffff;
}

.intro__span {
  width: 0.8em;
  height: 1em;
  margin-right: 0.5em;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  position: absolute;
  z-index: 1;
  display: none;
  margin: 1.5em;
  right: 1em;
  width: 30px;
  height: 28px;
  cursor: pointer;
}

.header__burger {
  position: absolute;
  top: 5px;
  height: 2px;
  width: 30px;
  background-color: #ffffff;
}

.header__burger:before {
  content: '';
  position: absolute;
  top: -10px;
  height: 2px;
  width: 30px;
  background-color: #ffffff;
}

.header__burger:after {
  content: '';
  position: absolute;
  top: 10px;
  height: 2px;
  width: 30px;
  background-color: #ffffff;
}

@media only screen and (max-width: 1100px) {
  .header__list {
    display: none;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 3em;
  }
  .intro__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__mouse {
    margin-top: .1em;
    height: 6em;
    width: 6em;
  }
  .description__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .description__item {
    margin: 0.5em;
  }
  .main__title {
    text-align: center;
  }
  .main__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .gallery__item {
    padding: 1em;
  }
  .contacts__container {
    padding: 0.5em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .left__container {
    text-align: center;
    padding: 0.5em;
    width: 100%;
  }
  .right__container {
    padding: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .input__contacts {
    margin: 0.1em auto;
    font-family: 'raleway';
    font-size: clamp(11px, 1vw, 14px);
    padding: 0.2em;
    width: 23%;
    text-align: center;
    opacity: 0.4;
  }
  .terms {
    padding: 0.2em;
    margin: 0.1em auto;
    width: 23%;
    font-family: 'raleway';
    text-align: center;
    font-family: 'raleway';
    font-size: clamp(10px, 0.8vw, 11px);
    color: #FFFFFF;
  }
  .register__btn {
    margin: 0.1em auto;
    width: 23%;
    padding: 0.2em;
    font-family: 'raleway';
    font-size: clamp(11px, 1vw, 14px);
    background-color: #D4C17F;
    color: #FFFFFF;
  }
  .location__title {
    text-align: center;
  }
  .questions__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .questions__contacts {
    margin: 0.1em auto;
    font-family: 'raleway';
    font-size: clamp(11px, 1vw, 14px);
    padding: 0.2em;
    width: 35%;
    text-align: center;
    opacity: 0.4;
  }
  .questions__btn {
    margin: 0.1em auto;
    width: 35%;
    padding: 0.2em;
    font-family: 'raleway';
    font-size: clamp(11px, 1vw, 14px);
    background-color: #D4C17F;
    color: #FFFFFF;
  }
  .questions__terms {
    padding: 0.2em;
    margin: 0.1em auto;
    width: 35%;
    text-align: center;
    font-family: 'raleway';
    font-size: clamp(11px, 1vw, 14px);
    color: #FFFFFF;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5em;
    width: 100%;
    margin: auto 0;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__title {
    margin: 0.2em;
    font-family: 'big shoulders stencil display';
    font-size: clamp(14px, 2vw, 30px);
    letter-spacing: 0.1em;
  }
  .footer__subtitle {
    margin: 0.2em;
    font-family: 'raleway';
    font-size: clamp(13px, 1vw, 18px);
  }
  .footer__links {
    display: none;
    padding: 0.1em;
    margin: 1em;
  }
  .footer__list-inner {
    display: none;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2c313a;
}

.main__description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em auto;
  padding: 0.5em;
}

.description__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.description__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

.description__pics {
  margin: 0.1em;
  padding: 0.1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3em;
  width: 3em;
}

.description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  font-family: 'roboto';
  font-size: clamp(12px, 1.5vw, 25px);
  text-align: center;
  color: white;
}

.main__title {
  padding: 0.1em;
  font-family: 'Playfair Display';
  font-size: clamp(24px, 2.5vw, 33px);
  color: #D4C17F;
}

.main__gallery {
  margin: 2em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item {
  margin: 0.5em;
  width: 26em;
  padding: 0.2em;
}

.contacts {
  background-image: url("../img/contacts/background.png");
  background-position: center;
}

.contacts__container {
  padding: 0.2em;
  margin: 0.5em auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left__container {
  padding: 0.5em;
  width: 100%;
}

.right__container {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contacts__title {
  font-family: 'Playfair Display';
  font-size: clamp(18px, 2.5vw, 33px);
  color: #D4C17F;
}

.contacts__text {
  margin-top: 0.4em;
  font-size: clamp(13px, 1.5vw, 18px);
  padding: 0.1em;
  color: #FFFFFF;
}

.input__contacts {
  margin: 0.2em auto;
  font-family: 'raleway';
  font-size: clamp(8px, 1vw, 12px);
  padding: 0.2em;
  width: 38%;
  text-align: center;
  opacity: 0.4;
}

.terms {
  padding: 0.2em;
  margin: 0.2em auto;
  width: 38%;
  font-family: 'raleway';
  text-align: center;
  font-family: 'raleway';
  font-size: clamp(8px, 0.8vw, 12px);
  color: #FFFFFF;
}

.register__btn {
  margin: 0.2em auto;
  width: 38%;
  padding: 0.2em;
  font-family: 'raleway';
  font-size: clamp(8px, 1vw, 12px);
  background-color: #D4C17F;
  color: #FFFFFF;
}

.video {
  background-color: #2c313a;
}

.video__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  width: 70%;
  margin: 0 auto;
}

.video__item {
  margin: 1em auto 2em;
  width: 60%;
  height: auto;
}

.location {
  background-color: #2c313a;
}

.location__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
  width: 70%;
  margin: 0 auto;
}

.location__title {
  margin-top: 1em;
  padding: 0.1em;
  font-family: 'Playfair Display';
  font-size: clamp(24px, 2vw, 33px);
  color: #D4C17F;
}

.location__map {
  margin: 1em auto;
  width: 85%;
  height: auto;
}

.questions__container {
  margin: 1.5em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__contacts {
  margin: 0.2em auto;
  font-family: 'raleway';
  font-size: clamp(8px, 1vw, 12px);
  padding: 0.2em;
  text-align: center;
  opacity: 0.4;
}

.questions__btn {
  margin: 0.2em auto;
  padding: 0.2em;
  font-family: 'raleway';
  font-size: clamp(8px, 1vw, 12px);
  background-color: #D4C17F;
  color: #FFFFFF;
}

.questions__terms {
  padding: 0.2em;
  margin: 0.2em auto;
  text-align: center;
  font-family: 'raleway';
  font-size: clamp(8px, 0.8vw, 12px);
  color: #FFFFFF;
}

.footer {
  background-color: #2D343C;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  width: 70%;
  margin: 0 auto;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2em;
  width: 100%;
}

.footer__list {
  font-family: 'raleway';
  font-size: clamp(10px, 1vw, 16px);
  margin: 0 auto;
  list-style-type: none;
  color: #ffffff;
}

.footer__title {
  font-family: 'big shoulders stencil display';
  font-size: clamp(14px, 2vw, 30px);
  letter-spacing: 0.1em;
}

.footer__subtitle {
  font-family: 'raleway';
  font-size: clamp(13px, 1vw, 18px);
}

.footer__links {
  color: #ffffff;
  text-decoration: none;
}

.social__items {
  margin: 0 auto;
  padding: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__icon {
  font-size: clamp(14px, 2vw, 14px);
  margin: 0.4em 0.5em;
  width: 1.2em;
  height: 1em;
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
}

.email {
  color: #D4C17F;
}
/*# sourceMappingURL=main.css.map */