.footer {
    background-color: #2D343C;
}

.footer__container {
    display: flex;
    padding: 0.5em;
    width: 70%;
    margin: 0 auto;
}

.footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2em;
    width: 100%;
}

.footer__list {
    font-family: 'raleway';
    font-size: clamp(10px, 1vw, 16px);
    margin: 0 auto;
    list-style-type: none;
    color: #ffffff;
}

.footer__title {
    font-family: 'big shoulders stencil display';
    font-size: clamp(14px, 2vw, 30px);
    letter-spacing: 0.1em;
}

.footer__subtitle {
    font-family: 'raleway';
    font-size: clamp(13px, 1vw, 18px);
}

.footer__links {
    color: #ffffff;
    text-decoration: none;
}

.social__items {
    margin: 0 auto;
    padding: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__icon {
    font-size: clamp(14px, 2vw, 14px);
    margin: 0.4em 0.5em;
    width: 1.2em;
    height: 1em;
    filter: invert(0.5);
}

.email {
    color: #D4C17F;
}

